.__republicMapRegion 
{
    fill: #B1C9FF;
    stroke: #f3f3f3;
    stroke-width : .33px;
    stroke-linecap:round;
    stroke-linejoin:miter;
    stroke-opacity:1;
    pointer-events:all;
    position: relative;
}
.__republicMapRegionCapital 
{
    fill:#f3f3f3;
}

.__tooltip 
{
    pointer-events : none; /*let mouse events pass through*/
    visibility : hidden;
    font-family : "sans-serif";
    font-size : 2px;
    fill :  black;
}

.__regionName 
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

.__regionCapital
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;    
}

span
{
    display: block;
}