.mapRegion 
{
    fill: #B1C9FF;
    stroke: #f3f3f3;
    stroke-width : .45px;
    stroke-linecap:round;
    stroke-linejoin:miter;
    stroke-opacity:1;
    pointer-events:all;
    position: relative;
    cursor: pointer;
}


span
{
    display: block;
}

svg
{
    min-width: 500px;
}