:root {
    --logo-shadow: #E8444D;
    --logo-color: #f9f9f9;
    --time-color: #E8444D;
    --background: #695959;
}

@font-face {
    font-family: 'APEX Medium';
    src: url('../fonts/ApexMk3-Medium.woff2') format('woff2'), url('../fonts/ApexMk3-Medium.ttf') format('truetype'), url('../fonts/Apex\ Mk3-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'APEX Light';
    src: url('../fonts/ApexMk3-ExtraLight.woff2') format('woff2'), url('../fonts/ApexMk3-ExtraLight.ttf') format('truetype'), url('../fonts/Apex\ Mk3-ExtraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Rainbow Bridge';
    src: url('../fonts/Rainbow Bridge.woff2') format('woff2'), url('../fonts/Rainbow Bridge.ttf') format('truetype');
}

body {
    background: var(--background);
}

canvas {
    position: relative;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.parent {
    display: table;
    height: 100%;
    width: 100%;
}

.child {
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    width: 50%;
    height: 20%;
    margin: auto;
}

.logo-name {
    font-size: 8vw;
    font-family: 'Rainbow Bridge';
    text-align: center;
    text-shadow: 0.2rem 0.2rem var(--logo-shadow);
    color: var(--logo-color);
    transition: all 0.5 ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.time {
    font-size: 8vw;
    font-family: 'APEX Medium';
    font-weight: normal;
    text-align: center;
    color: var(--time-color);
}

.logo-name:hover {
    position: relative;
    text-shadow: 0.30rem 0.30rem var(--logo-shadow), 0.35rem 0.35rem var(--logo-shadow), 0.40rem 0.40rem var(--logo-shadow), 0.45rem 0.45rem var(--logo-shadow), 0.50rem 0.50rem var(--logo-shadow), 0.55rem 0.55rem var(--logo-shadow), 0.60rem 0.60rem var(--logo-shadow), 0.65rem 0.65rem var(--logo-shadow), 0.70rem 0.70rem var(--logo-shadow);
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

@media all and (max-width: 1024px) {
    .logo-name:hover {
        position: relative;
        text-shadow:  0.2rem 0.2rem var(--logo-shadow);
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    .child {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 40%;
        margin: auto;
    }
}

@media all and (max-width: 720px) {
    .logo-name:hover {
        position: relative;
        text-shadow:  0.2rem 0.2rem var(--logo-shadow);
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    .child {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 40%;
        margin: auto;
    }
}

@media all and (max-width: 600px) {

    .logo-name:hover {
        position: relative;
        text-shadow:  0.2rem 0.2rem var(--logo-shadow);
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }

    .logo-name{
        font-size: 10vw;
    }
    .child {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 30%;
        margin: auto;
    }
}