:root {
    --icon-color: #333;
    --first-letter-color: #2CBEC9;
    --text-background-color: #ABE3E8;
    --text-color: #333333;
    --bar-color: #939393;
}

@font-face {
    font-family: 'Pluto Bold';
    src: url('../fonts/PlutoBold.woff') format('woff'), url('../fonts/PlutoBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Pluto Light';
    src: url('../fonts/PlutoLight.woff') format('woff'), url('../fonts/PlutoLight.ttf') format('truetype');
}

@font-face {
    font-family: 'Tisa Pro';
    src: url('../fonts/TisaPro.woff') format('woff'), url('../fonts/TisaPro.ttf') format('truetype');
}

/*Charts*/

g>svg {
    font-family: 'Tisa Pro' !important;
    font-size: 14px;
}

g {
    width: 100%;
}

/**/

hr {
    max-width: 25em;
    border-color: #333333;
}

.div-center {
    margin: 0 auto;
}

.numeralia {
    margin: 0 auto;
    padding: 2em;
}

.n-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.n-column {
    margin: 15px;
    display: flex;
    flex-direction: column;
    flex-basis: calc(33% - 30px);
}

.autor {
    padding: 0rem;
}

.autor img {
    border-radius: 50%;
    margin-bottom: 1rem;
}

.autor span {
    display: block;
    text-align: center;
}

.nombre {
    font-family: 'Pluto Bold';
    font-size: 16px;
}

.rol {
    font-family: 'Pluto Light';
    font-size: 13px;
}

.fecha {
    font-size: 16px;
    font-family: 'Tisa Pro';
}

.pd {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    max-width: 780px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pd-x {
    padding-left: 20rem;
    padding-right: 20rem;
}

.pd-g {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    max-width: 780px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.n-pd {
    padding-top: 0rem;
    padding-bottom: 3rem;
    padding-left: 24rem;
    padding-right: 24rem;
}

.m-pd {
    padding-top: 0rem;
    padding-bottom: 3rem;
    padding-left: 24rem;
    padding-right: 24rem;
}

.carousel-pd {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 24rem;
    padding-right: 24rem;
}

p {
    font-size: 18px;
    font-family: 'Tisa Pro';
    font-weight: normal;
    color: var(--text-color);
}

.title {
    font-size: 18px;
    font-family: 'Pluto Bold';
    color: var(--text-color);
}

.alt {
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    font-family: 'Tisa Pro';
    color: var(--text-color);
}

.alt div {
    display: inline;
}

.alt img {
    max-width: 50px;
    float: right;
    margin-left: 10px;
}

.content {
    max-width: 100%;
}

.mensaje {
    font-family: 'Pluto Bold';
    font-size: 34px;
    line-height: 44px;
}

.parrafo-1 {
    font-size: 20px;
    line-height: 43px;
    text-align: center;
}

.parrafo {
    text-align: left;
}

.parrafo-2 {
    text-align: left;
}

.parrafo-2::first-letter {
    font-weight: bold;
    padding: 1.0rem;
    margin-right: 0.5rem;
    font-size: 250%;
    background-color: var(--first-letter-color);
    color: white;
    float: left;
}

.titulo {
    font-weight: bold;
}

.titulo-2 {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.cita {
    font-family: 'Pluto Bold';
    font-size: 34px;
    line-height: 44px;
    padding-top: 3rem;
}

.cita-w {
    font-family: 'Pluto Bold';
    max-width: 600px;
    font-size: 34px;
    line-height: 44px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}

.cita-bg {
    background-color: var(--text-background-color);
}

.carousel-mensaje {
    overflow: hidden;
    max-width: 780px;
    text-align: center;
    padding: 1rem;
}

.graph {
    border-top: 3px solid var(--bar-color);
    border-bottom: 3px solid var(--bar-color);
}

/*Tablets */

@media only screen and (max-width: 1280px) {
    text {
        font-size: 12px;
    }
    .cita {
        font-size: 34px;
        line-height: 44px;
    }
    .cita-w {
        font-size: 34px;
        line-height: 44px;
        padding-top: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .mensaje {
        font-family: 'Pluto Bold';
        font-size: 20px;
        line-height: 30px;
    }
    .pd {
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .pd-x {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .pd-g {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .n-pd {
        padding-top: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    hr {
        max-width: 25em;
    }
    .n-column {
        flex-basis: calc(33% - 30px);
    }
    .autor {
        padding: 2rem;
    }
    .m-pd {
        padding: 0;
    }
    .carousel-pd {
        padding: 0;
    }
}

/*Smartphones*/

@media only screen and (max-width: 600px) {
    text {
        font-size: 8px;
    }
    .cita {
        font-size: 20px;
        line-height: 30px;
    }
    .cita-w {
        font-size: 20px;
        line-height: 30px;
        padding-top: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .mensaje {
        font-size: 13px;
        line-height: 14px;
    }
    .pd {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .pd-g {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .p-5 {
        padding: 0.5rem!important;
    }

    .px-5 {
        padding-left: 0.5rem!important;
        padding-right: 0.5rem !important;
    }

    .pd-x {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .n-pd {
        padding-top: 1rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    hr {
        max-width: 15em;
    }
    .autor {
        padding: 3rem;
    }
    .n-column {
        flex-basis: 100%;
    }
    .m-pd {
        padding: 0;
    }
    .carousel-pd {
        padding: 0;
    }
}