# Created by https://www.gitignore.io/api/adobe,microsoftoffice
# Edit at https://www.gitignore.io/?templates=adobe,microsoftoffice

### Adobe ###
# Adobe Source Files
*.psd
*.ai
*.indd
*.prproj
*.aep

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

# all office files
*.doc*
*.xls*
*.ppt*
*.vsd*

# End of https://www.gitignore.io/api/adobe,microsoftoffice