$color-background: #427180;
$color-text :  #5a5a5a;

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: $color-text;
  font-family: 'Chilanka', cursive;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    flex-wrap: wrap;

    text-align: center;
}

#camera {
    background: black;
}

#preview img {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    display: none;
}

.options {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background: $color-background;
    bottom: 0;
    width: 100%;
}

.shootTrigger {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: red;
    bottom: 100;
    width: 100%;
}

.row {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
}

video {
    max-width: 800px;
    width: 100%;
}

 // select style

 select {
    border: none;
    font-size: 1.2rem;
 }

 input {
     cursor: pointer;
 }

 h1{
     font-size: 5vw;
     font-weight: 800;

    @media screen and (max-width: 500px) {
        font-size: 8vw;
    }
 }

 label[for='image'], label[for='camera']  {
    font-size: 0.7rem;
    font-weight: 600;
    color: #fff;
    background-color: $color-text;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 15px 40px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
    margin-right: 10px;
}

input[type='file'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.material-icons {
    font-size: 2rem;
    color: #fff;
}

.mt-5{
    margin-top: 5rem;  
}